.notice{
  background-color:$box-color;
  color:white;
  text-align:center;
  height:50px;
  line-height:50px;
}
.alert{
  background-color:red;
  color:white;
  text-align:center;
  height:50px;
  line-height:50px;
}
