.right-content__upper-box{
    width:100%;
    height:-webkit-calc(15vh - 1px);
    border-bottom:solid 1px #eeeeee;
    width:-webkit-calc(100vw - 340px);
    float:left;

  &__group-name{
    font-size:20px;
    color:#333;
    padding-top:35px;
    margin-left:40px;
    float:left;
    text-decoration:none;
  }

  &__edit-button{
    border:solid $box-color;
    color:$box-color;
    text-align:center;
    margin-right:5vw;
    height:40px;
    width:60px;
    margin-top:28px;
    float:right;
  }

  &__member-box{
    clear:both;
    margin-left:25px;

    &__group-member{
      font-size:12px;
      color:$sub-sub-font-color;
      margin-left:15px;
      float:left;
    }
  }
}
