.chat-group-form {
  width: 980px;
  height:350px;
  margin: 60px auto;
  padding: 40px;
  background-color:$font-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  box-sizing: border-box;

  h1 {
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
  }

  &__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid $border-color;
    border-radius: 2px;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      color: #f05050;
      font-size: 14px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: 13px;
    }
  }

  &__field {
    margin-top: 30px;

    &--left {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }

    &--right {
      float: right;
      width: 70%;
      li{
        margin-right:5px;
        border-bottom:1px solide ;
      }
    }

    &__label {
      display: block;
      line-height: 50px;
      font-weight: bold;
      text-align: right;
    }

    #list{
      .list{
        border-bottom: solid 1px;
      }
    }
  }

  .chat-group-user {
    padding: 0 15px;
    line-height: 50px;
    font-size: 14px;

    &__name {
      float: left;
    }

    &__btn {
      float: right;
      display: inline-block;
      cursor: pointer;

      &btn--add {
        color: $box-color;
      }

      &--remove {
        color: #f05050;
      }
    }
  }

  &__action-btn {
    display: inline-block;
    padding: 12px 20px;
    margin-top:50px;
    color: #fff;
    background-color: $box-color;
    border: 0;
  }
}
